# How to Read JSON Files with Pandas
- Data source: https://opendata.culture.tw/frontsite/openData/detail?datasetId=668
    - File: https://boxoffice.tfi.org.tw/api/export?start=2021/05/10&end=2021/05/16

In [2]:
import pandas as pd

tbl = pd.read_json("export.json")

In [3]:
tbl.head()

,start,end,list
0,2021-05-10T00:00:00,2021-05-16T00:00:00,"{'country': '加拿大', 'name': '哈柏太空之旅 3D', 'relea..."
1,2021-05-10T00:00:00,2021-05-16T00:00:00,"{'country': '加拿大', 'name': '深海獵奇 3D', 'release..."
2,2021-05-10T00:00:00,2021-05-16T00:00:00,"{'country': '中華民國', 'name': '男人與他的海', 'release..."
3,2021-05-10T00:00:00,2021-05-16T00:00:00,"{'country': '中華民國', 'name': '複身犯', 'releaseDat..."
4,2021-05-10T00:00:00,2021-05-16T00:00:00,"{'country': '德國', 'name': '我的親親小妹', 'releaseDa..."

In [4]:
tbl2 = pd.DataFrame(tbl["list"].to_list())

tbl2.head()

,country,name,releaseDate,issue,produce,theaterCount,tickets,ticketChangeRate,amounts,totalTickets,totalAmounts
0,加拿大,哈柏太空之旅 3D,2019-02-04T00:00:00,國際電影事業有限公司,IMAX Corporation,1,0,-1.000000,0.0,725,107050.0
1,加拿大,深海獵奇 3D,2019-02-03T00:00:00,國際電影事業有限公司,IMAX Corporation,1,0,-1.000000,0.0,1533,187359.0
2,中華民國,男人與他的海,2021-04-01T00:00:00,牽猴子整合行銷股份有限公司,黑糖媒體創意有限公司,2,31,-0.858447,8010.0,22973,5178236.0
3,中華民國,複身犯,2021-02-26T00:00:00,犢影制作電影有限公司,犢影制作電影有限公司##樂到家國際娛樂股份有限公司##良人行影業有限公司##麻吉砥加電影有限公司,8,244,-0.457778,23300.0,56052,13031624.0
4,德國,我的親親小妹,2021-03-26T00:00:00,可樂藝術文創股份有限公司,Beta Cinema GmbH,1,11,-0.676471,1560.0,392,75588.0